<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.26.87;user id=user_prisonlink;password=User@pr1sonl1nk;persistsecurityinfo=True;database=Test&quot;" providerName="System.Data.EntityClient" />
    <add name="Dshe_reqruitmentEntities" connectionString="metadata=res://*/DsheRecruitment.csdl|res://*/DsheRecruitment.ssdl|res://*/DsheRecruitment.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.26.87;user id=online_reqruitment;password=Dshe@onl1ne;database=dshe_reqruitment&quot;" providerName="System.Data.EntityClient" />
    <add name="dshe_reqruitmentEntitiesNew" connectionString="metadata=res://*/dsheRecuitment.csdl|res://*/dsheRecuitment.ssdl|res://*/dsheRecuitment.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.26.87;user id=online_reqruitment;password=Dshe@onl1ne;database=dshe_reqruitment&quot;" providerName="System.Data.EntityClient" />
    <add name="ACRDBContext" connectionString="metadata=res://*/ACR_Model.csdl|res://*/ACR_Model.ssdl|res://*/ACR_Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=172.16.16.114:1521/ORCL;USER ID=CPMIS_PDS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>